@font-face {
    font-family: "Pragmatica";
    src: url("../fonts/Pragmatica-ExtraBold.ttf") format("truetype"),
        url("../fonts/Pragmatica-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Pragmatica";
    src: url("../fonts/Pragmatica-ExtraBoldOblique.ttf") format("truetype"),
        url("../fonts/Pragmatica-ExtraBoldOblique.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: oblique;
}
@font-face {
    font-family: "Pragmatica";
    src: url("../fonts/Pragmatica-Medium.ttf") format("truetype"),
        url("../fonts/Pragmatica-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Pragmatica";
    src: url("../fonts/Pragmatica-MediumOblique.ttf") format("truetype"),
        url("../fonts/Pragmatica-MediumOblique.woff2") format("woff2");
    font-weight: 500;
    font-style: oblique;
}
@font-face {
    font-family: "Pragmatica";
    src: url("../fonts/Pragmatica-Bold.ttf") format("truetype"), url("../fonts/Pragmatica-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Pragmatica";
    src: url("../fonts/Pragmatica-BoldOblique.ttf") format("truetype"),
        url("../fonts/Pragmatica-Boldblique.woff2") format("woff2");
    font-weight: 700;
    font-style: oblique;
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/bebas-neue-bold.ttf") format("truetype"), url("../fonts/bebas-neue-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
