<div class="modal__wrapper" id="order-modal">
  <div class="modal__layout"></div>
  <div class="modal__container">
    <button class="modal__close"><img src="./img/close.svg" alt=""></button>
    <div class="modal__title">
      Оставьте контакты
    </div>
    <div class="modal__sub">
      Наш менеджер свяжется с вами <nobr>в ближайшее время</nobr> для уточнения всех вопросов и оформления
      вашего заказа
    </div>

    <form class="modal__form">
      <div>
        <div class="input__label">Как к вам обращаться?</div>
        <input type="text" class="input" placeholder="Аркадий Сергеевичc" required>
      </div>

      <div>
        <div class="input__label">Номер телефона*</div>
        <input type="text" class="input" placeholder="+7 (000) 000-00-00" value="+7" required>
      </div>

      <div>
        <div class="input__label">E-mail*</div>
        <input type="email" class="input" placeholder="email@domain.com" required>
      </div>

      <button class="btn"><span>Отправить заявку</span></button>
    </form>
  </div>
</div>

<footer id="contacts" class="footer">
  <div class="container">
    <h2>Где купить <nobr>в вашем городе</nobr></h2>
    <div class="map">
      <script
        type="text/javascript"
        charset="utf-8"
        async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5edfc1b05fdf0080ac173637a7d3034c30259f804f6790463e452ae3d9870540&amp;width=1168&amp;height=520&amp;lang=ru_RU&amp;scroll=true"
      ></script>
    </div>
  </div>
  <div class="container" id="#contacts">
    <div class="contacts__row">
      <h2>Контакты</h2>
      <div class="contacts__info address">
        г.Нижний Новгород, ул.Артельная, д.35, оф.105 <br />Время работы: с
        10:00 до 18:00
      </div>

      <div class="contacts__info phones">
        <a href="tel:+79965662716">+7 (996) 566-27-16</a>
        <a href="mailto:harma-grow@mail.ru">harma-grow@mail.ru</a>
      </div>
      <div class="contacts__socials">
        <a href="#" target="_blank"
          ><img src="./img/fa_vk.svg" alt="vkontakte"
        /></a>
        <a href="https://wa.me/79965662716" target="_blank"
          ><img src="./img/fa6-brands_viber.svg" alt="viber"
        /></a>
        <a href="#" target="_blank"
          ><img src="./img/bxl_telegram.svg" alt="telegram"
        /></a>
      </div>
    </div>

    <div class="copy">
      <b
        >Абзац 1.10.32 "de Finibus Bonorum et Malorum", написанный Цицероном в
        45 году н.э.</b
      >
      <br />
      <br />
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
      illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
      odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
      quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
      eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
      voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
      corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
      Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
      nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
      nulla pariatur?" <br />
      "But I must explain to you how all this mistaken idea of denouncing
      pleasure and praising pain was born and I will give you a complete account
      of the system, and expound the actual teachings of the great explorer of
      the truth, the master-builder of human happiness. No one rejects,
      dislikes, or avoids pleasure itself, because it is pleasure, but because
      those who do not know how to pursue pleasure rationally encounter
      consequences that are extremely painful. Nor again is there anyone who
      loves or pursues or desires to obtain pain of itself, because it is pain,
      but because occasionally circumstances occur in which toil and pain can
      procure him some great pleasure. To take a trivial example, which of us
      ever undertakes laborious physical exercise, except to obtain some
      advantage from it? But who has any right to find fault with a man who
      chooses to enjoy a pleasure that has no annoying consequences, or one who
      avoids a pain that produces no resultant pleasure?"
    </div>
  </div>
</footer>
